# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# TeX File
!onlinecom.tex

# Bib File
!onlinecom.bib

# PDF File
!onlinecom.pdf

# Figures
!figs/

# IEEE style files
!ieeeconf.cls
!IEEEtran.bst
!IEEEabrv.bib

# Paper Prep
## Pose Generation/Filtering Algorithm
!/paper_prep/
/paper_prep/*
!/paper_prep/ieeeconf.cls
!/paper_prep/IEEEtran.bst
!/paper_prep/pose_generation.tex
!/paper_prep/pose_generation.pdf
